/* VARIABLES GENERALES */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}


body {
  width: 100vw;
  font-family: 'Rubik', sans-serif;
}

header {
  height: 80px;
}

/* LOADER */

.st-perloader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-perloader .st-perloader-in {
  position: relative;
}

.st-perloader .st-perloader-in svg {
  width: 110px;
  height: 110px;
}

.st-perloader .st-wave-first svg {
  fill: #eaeaea;
}

.st-perloader .st-wave-second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  animation: spark 1.25s linear infinite;
}

.st-perloader .st-wave-second svg {
  fill: #0cb8b6;
}

.st-perloader.st-color1 .st-wave-second svg {
  fill: #27b1d9;
}

.st-perloader.st-color2 .st-wave-second svg {
  fill: #ff375f;
}

@keyframes spark {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}

/* NAV */

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}


nav {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: rgba(0, 0, 0, 0.5);
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/*MENU ICON*/
.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/*RESPONSIVE NAV*/
@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/* SCROLL UP */

#return-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 8px;
  background-color: #cbe4f0;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0deg, rgba(0, 96, 190, 0.6530987394957983) 0%, rgba(0, 212, 255, 1) 100%);
}

/* HEADER */

.container-head h1 {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.container-head .bienvenidos-p {
  font-family: 'Bebas Neue', cursive;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  margin: 0 auto;
  border-right: 0.15em solid #18bdec;
  animation: typing 3s steps(38) 0.1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 40%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container-head p {
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}


.header-container {
  background-image: url("../assets/medical-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

#olas-bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
}

.container-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-head-data {
  margin-top: 5rem;
}

.container-head .card {
  width: 350px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.one {
  top: -20px;
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 100;
}

.two {
  position: relative;
  left: 300px;
}

.card video {
  width: auto;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-head .card img {
  width: auto;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


/*SERVICIOS*/

.st-mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.st-parallax-shape.st-style1 {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 30px solid #f9fafc;
  right: -60px;
  top: 300px;
}

.st-blue-box {
  color: #0cb8b6;
  fill: #0cb8b6;
  background-color: rgba(12, 184, 182, 0.1);
}

.st-purple-box {
  color: #6758f3;
  fill: #6758f3;
  background-color: rgba(103, 88, 243, 0.1);
}

.st-green-box {
  color: #37af47;
  fill: #37af47;
  background-color: rgba(55, 175, 71, 0.1);
}

.st-red-box {
  color: #e6492d;
  fill: #e6492d;
  background-color: rgba(230, 73, 45, 0.1);
}

.st-dip-blue-box {
  color: #1665d8;
  fill: #1665d8;
  background-color: rgba(22, 101, 216, 0.1);
}

.st-orange-box {
  color: #f6ab2f;
  fill: #f6ab2f;
  background-color: rgba(246, 171, 47, 0.1);
}

.st-gray-box {
  color: #9ea0a5;
  fill: #9ea0a5;
  background-color: rgba(158, 160, 165, 0.1);
}

.st-violet-box {
  color: #b026ff;
  fill: #b026ff;
  background-color: rgba(235, 123, 255, 0.212);
}

.st-pink-box {
  color: #ff375f;
  fill: #ff375f;
  background-color: rgba(255, 55, 95, 0.1);
}

.st-tab {
  display: none;
}

.st-tab.active {
  display: block;
}

@media screen and (max-width: 1199px) {

  .st-parallax-shape.st-style1,
  .st-parallax-shape.st-style2 {
    display: none;
  }

  .st-left-full-width {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .st-right-full-width {
    width: 100%;
    margin-left: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  .st-col-reverse-xl {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 991px) {
  .st-content {
    margin: 0 !important;
  }

  .st-vertical-middle {
    display: block;
  }

  .st-google-map iframe {
    height: 400px;
  }

  .st-about-wrap .st-shape-bg {
    display: none;
  }

  .st-doctors-info-right {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .st-doctors-special li {
    width: 100%;
  }
}


/* tab servicios*/

a {
  text-decoration: none;
}

.st-tab-links.st-style1 {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 15px;
}

.st-tab-links.st-style1 li {
  flex: 1;
  margin: 0 5px;
}

.st-tab-links.st-style1 li a {
  text-align: center;
  padding: 10px 15px;
  height: 110px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 3px 8px 0px #FBFBFB;
}

.st-tab-links.st-style1 li a svg {
  width: 48px;
  height: 48px;
}

.st-tab-links.st-style1 li a img {
  height: 38px;
}

.st-tab-links.st-style1 li a span {
  display: block;
  font-weight: 600;
  color: #111;
  margin-top: 4px;
  margin-bottom: -6px;
}

.st-tab-links.st-style1 li a:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: 0px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 0px 0px 7px 0px;
  transition: all 0.3s ease;
}

.st-tab-links.st-style1 li.active a span {
  color: #fff;
}

.st-tab-links.st-style1 li.active a:before {
  bottom: -10px;
  opacity: 1;
}

.st-tab-links.st-style1 li.active a svg {
  fill: #fff;
}

.st-tab-links.st-style1 li.active a.st-blue-box {
  color: #fff;
  background-color: #0cb8b6;
}

.st-tab-links.st-style1 li.active a.st-blue-box:before {
  background-color: #0cb8b6;
}

.st-tab-links.st-style1 li.active a.st-purple-box {
  color: #fff;
  background-color: #6758f3;
}

.st-tab-links.st-style1 li.active a.st-purple-box:before {
  background-color: #6758f3;
}

.st-tab-links.st-style1 li.active a.st-green-box {
  color: #fff;
  background-color: #37af47;
}

.st-tab-links.st-style1 li.active a.st-green-box:before {
  background-color: #37af47;
}

.st-tab-links.st-style1 li.active a.st-red-box {
  color: #fff;
  background-color: #e6492d;
}

.st-tab-links.st-style1 li.active a.st-red-box:before {
  background-color: #e6492d;
}

.st-tab-links.st-style1 li.active a.st-dip-blue-box {
  color: #fff;
  background-color: #1665d8;
}

.st-tab-links.st-style1 li.active a.st-dip-blue-box:before {
  background-color: #1665d8;
}

.st-tab-links.st-style1 li.active a.st-orange-box {
  color: #fff;
  background-color: #f6ab2f;
}

.st-tab-links.st-style1 li.active a.st-orange-box:before {
  background-color: #f6ab2f;
}

.st-tab-links.st-style1 li.active a.st-gray-box {
  color: #fff;
  background-color: #9ea0a5;
}

.st-tab-links.st-style1 li.active a.st-gray-box:before {
  background-color: #9ea0a5;
}

.st-tab-links.st-style1 li.active a.st-violet-box {
  color: #fff;
  background-color: #b026ff;
}

.st-tab-links.st-style1 li.active a.st-violet-box:before {
  background-color: #b026ff;
}

.st-tab-links.st-style1 li.active a.st-pink-box {
  color: #fff;
  background-color: #ff375f;
}

.st-tab-links.st-style1 li.active a.st-pink-box:before {
  background-color: #ff375f;
}

.st-fade-tabs.st-style2 {
  background: #f9fafc;
  padding: 18px 30px 25px;
}

.st-tab-links.st-style2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  border-bottom: 1px solid #b5b5b5;
}

.st-tab-links.st-style2 li {
  margin: 0 35px;
}

.st-tab-links.st-style2 li.active a {
  color: #0cb8b6;
}

.st-tab-links.st-style2 li.active a:after {
  width: 100%;
}

.st-tab-links.st-style2 a {
  display: inline-block;
  padding: 10px 0px;
  position: relative;
}

.st-tab-links.st-style2 a:after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: #0cb8b6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  transition: all 0.3s ease;
}

.st-tab-links.st-style2.st-type1 {
  font-size: 18px;
  border: none;
}

.st-tab-links.st-style2.st-type1 li {
  margin: 0px 20px;
}

.st-tab-links.st-style2.st-type1 a {
  padding: 4px 8px;
}

.st-tab-links.st-style2.st-type1 a:after {
  height: 2px;
  bottom: 0;
}

.st-tab-links.st-style2.st-color1 li.active a {
  color: #27b1d9;
}

.st-tab-links.st-style2.st-color1 li.active a:after {
  background-color: #27b1d9;
}

.st-tab-links.st-style2.st-color2 li.active a {
  color: #ff375f;
}

.st-tab-links.st-style2.st-color2 li.active a:after {
  background-color: #ff375f;
}

@media screen and (max-width: 575px) {
  .st-tab-links.st-style2 li {
    margin: 0 10px;
  }

  .st-tab-links.st-style2.st-type1 li {
    margin: 0px 10px;
  }

  .st-tab-links.st-style2.st-type1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .st-fade-tabs.st-style2 {
    padding: 18px 20px 25px;
  }

  .st-tab-links.st-style2 {
    font-size: 18px;
  }
}

/* SERVICIOS EN EXAGONO (SE GUARDA POR AHORA NO ELIMINAR)*/

/* .services-container {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.services-container .exagonoArea {
  display: flex;

}

.services-container .exagonoArea.ultimo {
  transform: translateY(-45px);
}

.services-container .exagonoArea .exagono {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 0 10px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background: #77C7C9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: .5s;
}

.services-container .exagonoArea .exagono img {
  width: 80px;

}

.services-container .exagonoArea .exagono h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  font-size: 17px;
  letter-spacing: 1px;
}

.services-container .exagonoArea .exagono:hover {
  background: deepskyblue;
  transform: scale(0.8);
} */


/* // SOBRE NOSOTROS // */

.circle-medical-bg {
  width: 600px;
}

.container-full .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info .row .col {
  align-items: flex-start;
}

/*CAMBIAR NO TOCAR*/

/* .container-full .row>.info {

}

.chose-us-area.item-half .container-full .row>.info {
  
} */

.chose-us-area.item-half .info li {
  float: left;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 0;
}

.chose-us-area.item-half .info li:first-child,
.chose-us-area.item-half .info li:nth-child(2) {
  margin-top: 0;
}

.chose-us-area.item-half .info li:nth-child(2n) {
  padding-left: 15px;
}

.chose-us-area .info .heading {
  position: relative;
  z-index: 1;
}

.chose-us-area .info li .icon i {
  display: inline-block;
  font-size: 50px;
  color: #0cb8b6;
}

.chose-us-area .info li .icon {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.chose-us-area .info li {
  display: block;
  margin-bottom: 40px;
}

.chose-us-area .info li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.chose-us-area .info li h4 {
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}

.chose-us-area .info h2 {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin: 15px 0px;
}

.chose-us-area .info p:last-child {
  margin-bottom: 0;
}

.chose-us-area .info ul {
  /* padding: 0px; */
  margin-top: 40px;
  overflow: hidden;
}

.chose-us-area .info li p:last-child {
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .circle-medical-bg {
    width: 500px
  }
}


/* NO ELIMINAR POR AHORA (TICK EN EL VIEJO SOBRE NOSOTROS) */

/* .chose-us-area .info li .title {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
  padding-bottom: 15px;
}

.chose-us-area .info li .info {
  position: relative;
  z-index: 1;
  padding-left: 35px; 
} 

.chose-us-area .info li .info::after {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 20px;
  color: #0cb8b6;
}

.chose-us-area .appoinment {
  padding-right: 35px;
} */


/* ICON HEXAGON */
.fa-stack {
  width: 36px;
  height: 30px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.logo-hex {
  width: 34px;
  height: 19px;
  cursor: pointer;
  background-color: #dc143c;
}

.logo-hex:before {
  transform: rotate(60deg);
}

.logo-hex:after {
  transform: rotate(-60deg);
}

.logo-hex:before,
.logo-hex:after {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  content: '';
}

/* PLANES */

/* 
.sect--padding-bottom{
  margin-top: 50px;
  padding-bottom:115px;
}

.row--center {
  max-width: 1000px;
  margin: 0 auto;
}

.row--margin {
  margin-top: 45px;
}

.row__title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
}

.row__sub {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  color: #8198ae;
}

.price-box {
  padding: 0px 25px;
}

.price-box__wrap {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 35px 35px 40px 35px;
  text-align: center;
  transition: all 0.4s;
}

.price-box__img {
  display: inline-block;
}

.price-box__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-box--purple .price-box__img {
  background-image: url("https://image.ibb.co/iGjEKG/1.png");

}


.price-box--violet .price-box__img {
  background-image: url("https://image.ibb.co/iyT8eG/2.png");
}

.price-box--blue .price-box__img {
  background-image: url("https://preview.ibb.co/nDRpmw/3.png");
}

.price-box__title {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.price-box__people {
  font-size: 12px;
  color: #8198ae;
  font-weight: 300;
  letter-spacing: 1px;
}

.price-box__discount {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.price-box__dollar {
  font-size: 18px;
  font-weight: 400;
  vertical-align: top;
  margin-right: 4px;
}

.price-box--purple .price-box__dollar {
  color: #8a3aff;
}

.price-box--violet .price-box__dollar {
  color: #6f79ff;
}

.price-box--blue .price-box__dollar {
  color: #3a9fff;
}

.price-box__discount--light {
  font-weight: 400;
  font-size: 20px;
  margin-left: 3px;
}

.price-box__price {
  margin-top: 3px;
  font-size: 14px;
  color: #8198ae;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 300;
  text-decoration: line-through;
}

.price-box__feat {
  margin-top: 30px;
  font-size: 16px;
}

.price-box__list {
  text-align: left;
  padding-left: 30px;
  margin: 0;
  list-style: none;
}

.price-box__list-el {
  position: relative;
  margin-bottom: 8px;
  font-weight: 300;
}

.price-box__list-el:before {
  content: "✓";
  position: absolute;
  left: -25px;
  font-size: 18px;
  top: -4px;
}

.price-box--purple .price-box__list-el:before {
  color: #8a3aff;
}

.price-box--violet .price-box__list-el:before {
  color: #6f79ff;
}

.price-box--blue .price-box__list-el:before {
  color: #3a9fff;
}

.price-box__wrap:hover {
  backface-visibility: hidden;
  transform: scale(1.05, 1.05);
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}


.btn:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}

.price-box__wrap:hover .btn {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
}


.btn--purple {
  background-color: #8a3aff;
}

.btn--purple:hover {
  background-color: #b284f6;
}

.btn--violet {
  background-color: #6f79ff;
}

.btn--violet:hover {
  background-color: #878ef3;
}

.btn--blue {
  background-color: #3a9fff;
}

.btn--blue:hover {
  background-color: #63b2fc;
}

.btn--width {
  width: 120px;
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}

.btn--white:hover {
  background-color: #fff;
  color: #8198ae;
}

.price-box__btn {
  position: absolute;
  margin-top: 15px;
  margin-left: 55px;

} */


/* CONTACTO */

.sect--padding-bottom {
  padding-bottom: 115px;
}

.row--center {
  max-width: 1000px;
  margin: 0 auto;
}

.row--margin {
  margin-top: 45px;
}

.row__title {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 0px;
}

.row__sub {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  color: #8198ae;
}

.contacts_title-ag {
  margin: 0;
  margin-left: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  margin-left: 10px;
}

.contacts__link {
  color: #1f4568;
}

.contacts--light {
  color: #8198ae;
}

.contacts__address {
  margin-top: 20px;
  color: #8198ae;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 12px;
  margin-bottom: 17px;
  position: relative;
}

.contacts__address:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #8198ae;
  bottom: 0;
  left: 0;
}

.contacts__info {
  color: #8198ae;
  font-size: 16px;
  margin-bottom: 2px;
}

.contacts__info-link {
  color: #3a9fff;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
  display: table;
  width: 100%;
  position: relative;
}

.form__field {
  height: 50px;
  position: relative;
  border: none;
  padding: 10px 12px;
  width: 100%;
  border-radius: 6px;
  appearance: none;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  z-index: 2;
}


.form__field--half {
  width: 50%;
  float: left;
}

.form__field--half:first-of-type {
  padding-right: 15px;
}

.form__textarea {
  height: 200px;
}

.btn--up {
  position: absolute;
  bottom: -15px;
  right: 25px;
  z-index: 3;
}


/* RESPONSIVE PLANES Y CONTACTO */

@media screen and (max-width:991px) {
  .price-box {
    padding: 0px 10px;
  }

}

@media screen and (max-width:767px) {

  .price-box {
    padding: 0px 35px;
    margin-bottom: 50px;
  }

  .form {
    margin-top: 30px;
  }

  .form__field--half:first-of-type {
    margin-bottom: 10px;
    padding-right: 0px;
  }

  .form__field--half {
    width: 100%;
    float: none;
  }

  .form-group {
    margin-bottom: 10px;
  }
}


@media screen and (max-width:480px) {
  .price-box {
    padding: 0px 20px;
  }

  .sect {
    padding: 20px 0;
  }

  .row__sub {
    font-size: 16px;
  }

  .row__title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .price-box__title {
    font-size: 18px;
    margin-top: 10px;
  }

  .price-box__img {
    width: 100px;
    height: 100px;
  }

  .price-box__wrap {
    padding: 20px 20px 30px 20px;
  }

  .price-box__people {
    font-size: 10px;
    font-weight: 400;
  }

  .price-box__discount {
    font-size: 22px;
  }

  .price-box__price {
    font-size: 12px;
  }

  .price-box__feat {
    margin-top: 15px;
    font-size: 14px;
  }

  .price-box__list-el {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .row--margin {
    margin-top: 30px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 8px;
  }

  .btn--width {
    width: 100px;
  }

}

/*// COMENTARIOS //*/
.opiniones p {
  font-size: 15px;
}

.opiniones .small {
  letter-spacing: 0.5px
}

.opiniones .card-header img {
  border: 5px solid white
}

.opiniones .outside {
  position: inherit;
  top: 50%;
}

.opiniones .card-com {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
  transition: 0.8s;
  min-height: 40vh !important
}

.opiniones .card-header {
  border-radius: 20px
}

.opiniones .card-footer {
  border-radius: 20px
}

.opiniones .profile-pic {
  margin-bottom: 2px;
  font-weight: 600;
}

.opiniones .fa {
  color: rgb(174, 178, 219);
  cursor: pointer
}

.opiniones .card-footer .fa {
  font-size: 20px
}

.opiniones .name {
  margin-top: 6px
}

.opiniones .container .card:hover {
  transform: scale(1.1)
}

@media (max-width: 1000px) {
  .opiniones .container .card:hover {
    transform: scale(1)
  }
}

/* // MISION, VISION Y VALORES // */

.valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#categories {
  overflow: hidden;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: center;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

#categories li {
  position: relative;
  list-style-type: none;
  width: 27.85714285714286%;
  /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%;
  /* =  width /0.866 */
  float: left;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(3n+2) {
  margin: 0 4%;
}

#categories li * {
  position: absolute;
  visibility: visible;
  margin: 0;
}

#categories li>div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
}

/* HEX CONTENT */
#categories li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#categories div h1,
#categories div p {
  width: 100%;
  padding: 0 5%;
  background-color: #008080;
  background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Raleway', sans-serif;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

#categories li h1 {
  bottom: 110%;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  padding-top: 100%;
  padding-bottom: 100%;
}

#categories li h1:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 45%;
  width: 10%;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #fff;
}

#categories li p {
  padding-top: 50%;
  top: 110%;
  padding-bottom: 50%;
}

/* HOVER EFFECT  */
#categories li div:hover h1 {
  bottom: 65%;
  padding-bottom: 10%;
}

#categories li div:hover p {
  top: 35%;
  padding-top: 5%;
}

#fork {
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: .5em .7em;
  margin: 1%;
  transition: color .5s;
  overflow: hidden;
}

#fork:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background: #000;
  z-index: -1;
  transform-origin: 0 0;
  transform: translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}

#fork:hover {
  color: #fff;
}

#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}

#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .cardteam {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  transform: rotateY(180deg);
}

.mainflip {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transform: rotateY(-180deg);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .cardteam,
.backside .cardteam {
  min-height: 312px;
}

.backside .cardteam a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .cardteam .card-title,
.backside .cardteam .card-title {
  color: #007b5e !important;
}

.frontside .cardteam .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}



/* TEST */

.about-area .info {
  padding-right: 35px;
}

.about-area .inc-video .thumb {
  position: relative;
  z-index: 1;
}

.about-area .inc-video .thumb:after {
  position: absolute;
  left: 5%;
  top: 5%;
  content: "";
  height: 90%;
  width: 90%;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.about-area .features-items {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
  padding: 30px;
  margin-top: 15px;
}

.about-area .tab-content .info a {
  margin-top: 10px;
}

.about-area .features-items i {
  font-size: 50px;
  color: #0cb8b6;
  margin-bottom: 25px;
}

.about-area .features-items h4 {
  text-transform: capitalize;
  font-weight: 600;
}

.about-area .features-items p {
  margin: 0;
}

.about-area .features-items .single-item {
  border-right: 1px solid #e7e7e7;
}

.about-area .features-items .single-item:last-child {
  border: none;
}

.features-items.owl-carousel.features-carousel .owl-dots {
  margin: 0;
}

.features-items.owl-carousel.features-carousel .owl-dots .owl-dot span {
  border: 3px solid #e7e7e7;
  height: 20px;
  width: 20px;
}

.features-items.owl-carousel.features-carousel .owl-dots .owl-dot.active span {
  background: #0cb8b6;
}

.about-area .tab-content .info {
  padding-right: 0;
}

/* Table */
.about-area .em-services-items table {
  border: 1px solid #e5e5e5;
  margin: 0;
}

.about-area .em-services-items table thead {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.about-area .em-services-items table th {
  border-bottom: none;
}

.about-area .em-services-items table th,
.about-area .em-services-items table td {
  text-align: left;
  padding: 18px 20px 18px 40px;
}

.emergency-services h2 {
  text-transform: capitalize;
  font-weight: 600;
}

.em-services-items {
  margin-top: 30px;
}

.about-area .em-services-items table td i {
  font-weight: 500;
  margin-right: 5px;
  color: #0cb8b6;
}

.half-bg {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.half-bg::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: #0cb8b6;
  z-index: -1;
  height: 100%;
  width: 50%;
}

.about-area.half-bg .emergency-services {
  padding-left: 50px;
}

.about-area.half-bg .info {
  padding-right: 50px;
}

.about-area .bottom {
  border: 1px solid #e7e7e7;
  display: flex;
  padding: 30px;
  margin-top: 30px;
}

.about-area .info h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.about-area .info>h4 {
  text-transform: uppercase;
  font-weight: 600;
  color: #0cb8b6;
  margin-bottom: 25px;
}

.about-area .info h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

.about-area .info>a {
  margin-top: 15px;
}

.about-area .bottom .content {
  padding-left: 30px;
}

.about-area .bottom .content p {
  margin: 0;
}

.video-play-button.relative i {
  line-height: 80px;
}

.about-area .services-area .equal-height {
  margin-bottom: 0;
  margin-top: 30px;
}

.about-area .services-area .equal-height:first-child,
.about-area .services-area .equal-height:nth-child(2) {
  margin-top: 0;
}

.about-area .services-area .equal-height .item h4 {
  margin-bottom: 0;
}

.about-area .services-area.inc-icon .item {
  border-top: none;
}

.about-area .services-area.inc-icon .item i::after {
  left: -13px;
  top: -13px;
  height: 126px;
  width: 126px;
  opacity: 1;
  border: 2px solid #e7e7e7;
}

.about-area .services-area.inc-icon .item i {
  background: #ffffff;
  color: #0cb8b6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}


/* PRODUCTOS */


.products-container .testeo {
  background: url("../assets/fondo-gris-productos.svg");
  background-size: cover;
  width: 100%;
}

.testeo2 {
  padding-top: 60px
}

.fondo-lab {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
  margin: 20px 0px;
  /* padding: 5%; */
}

.imagen-lab {
  background-image: url(../assets/laboratory.png);
  background-size: contain;
  background-position: center;
  margin: 5vh;
  border-radius: 5px 25px 80px;
  height: 100%;
  width: 70%;
  border: rgb(77, 2, 198) solid 3px;
}

.imagen-lab div {
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.fondo-lab button {
  padding: 10px 5px;
  font-size: 1.5em;
  width: 150px;
  cursor: pointer;
  border: 0px;
  position: relative;
  margin: 0px 80px 25px 0px;
  transition: all .25s ease;
  background: rgba(116, 23, 231, 1);
  color: #fff;
  overflow: hidden;
  border-radius: 10px
}

.fondo-lab .load {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit
}

.load::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 1s ease infinite;
  z-index: 10
}

.fondo-lab .load::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 3px dashed #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 2s linear infinite;
  z-index: 5
}

@keyframes loading1 {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.fondo-lab button.active {
  transform: scale(.85)
}

.fondo-lab button.activeLoading .loading {
  visibility: visible;
  opacity: 1
}

.fondo-lab button .loading {
  opacity: 0;
  visibility: hidden
}