/* ====================================================
    Gutter Code 
==================================================== */
.container,
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 767px) {

    /* Modify this based on column def */
    .ltn__product-gutter .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .ltn__product-gutter [class*='col-'] {
        padding-right: 8px;
        padding-left: 8px;
    }
}

/* ----------------------------------------------------
    Normalize    0B2C3D
---------------------------------------------------- */
:root {
    --ltn__primary-color: #071C1F;
    --ltn__primary-color-2: #041113;
    /* Darken */
    --ltn__primary-color-3: #133236;
    /* Lighten */
    --ltn__secondary-color: #0A9A73;
    --ltn__secondary-color-2: #cb3421;
    /* Darken */
    --ltn__secondary-color-3: #fb412a;
    /* Lighten */
    --ltn__heading-color: #071c1f;
    --ltn__paragraph-color: #5C727D;
    --ltn__heading-font: 'Josefin Sans', sans-serif;
    --ltn__body-font: 'Nunito Sans', sans-serif;
    /* Footer ACD2D8 8CB2B2  */
    --ltn__color-1: #8cb2b2;
    --ltn__color-2: #ACD2D8;
    --ltn__color-3: #A3BCC0;
    --ltn__color-4: #84A2A6;
    --ltn__color-5: #5C727D;
    --ltn__color-6: #F5DFDC;
    /* Black */
    /* Border Colors */
    --border-color-1: #e5eaee;
    /* White */
    --border-color-2: #1e2021;
    /* Black */
    --border-color-3: #5C617F;
    /* Black */
    --border-color-4: #eb6954;
    /* Red */
    --border-color-5: #bc3928;
    /* Red */
    --border-color-6: #103034;
    /* Black */
    --border-color-7: #d1dae0;
    /* White */
    --border-color-8: #f6f6f6;
    /* White */
    --border-color-9: #e4ecf2;
    /* White */
    --border-color-10: #ebeeee;
    /* White */
    --border-color-11: #ededed;
    /* White */
    --border-color-12: #e1e6ff;
    /* White */
    --border-color-13: #f1f8ff;
    /* White */
    /* Box Shadow Colors */
    --ltn__box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
    --ltn__box-shadow-2: 0 0 4px rgba(0, 0, 0, 0.1);
    /* like border */
    --ltn__box-shadow-3: 0 1px 6px 0 rgba(32, 33, 36, .28);
    /* like border GGL */
    --ltn__box-shadow-4: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
    --ltn__box-shadow-5: 0 8px 16px 0 rgba(93, 93, 93, 0.1);
    --ltn__box-shadow-6: 0 0 25px 2px rgba(93, 93, 93, 0.2);
    --ltn__box-shadow-7: 0 0 10px 0px rgba(93, 93, 93, 0.2);
    /* Common Colors */
    --black: #000000;
    --black-2: #22355B;
    --white: #fff;
    --white-2: #F2F6F7;
    --white-3: #e8edee;
    --white-4: #e6ecf0;
    --white-5: #f0f4f7;
    --white-6: #f1f1f1;
    --white-7: #F7F7F7;
    --white-8: #FAFAFA;
    --white-9: #F2F7FA;
    --white-10: #EDEDED;
}

/* -------------------------------------
    Typography
------------------------------------- */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: var(--ltn__body-font);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    color: var(--ltn__paragraph-color);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: var(--ltn__body-font);
    line-height: 1.8;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--ltn__heading-color);
    clear: both;
    font-family: var(--ltn__heading-font);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:hover {
    color: var(--ltn__secondary-color);
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ul li,
ol li {
    margin-top: 1rem;
}

/* ----------------------------------------------------
    Form input box
---------------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--border-color-9);
  height: 65px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  color: var(--ltn__paragraph-color);
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  padding-right: 40px; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="submit"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--ltn__paragraph-color);
  font-size: 14px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: var(--ltn__secondary-color); }

input[type="password"] {
  letter-spacing: 3px;
  font-size: 16px; }

textarea {
  resize: vertical;
  padding: 15px 20px;
  min-height: 150px; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

button:focus {
  outline: none; }

.form-input-box {
  position: relative; }

.form-input-box input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 0 70px 0 15px;
  border-radius: 0 15px 0px 0px;
  border: 1px solid var(--ltn__primary-color);
  margin-bottom: 0; }

.form-input-box button[type="submit"] {
  background-color: var(--ltn__primary-color);
  color: var(--white);
  padding: 0 18px;
  height: 100%;
  border: 1px solid var(--ltn__primary-color);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.form-input-box button[type="submit"]:hover {
  background-color: var(--ltn__secondary-color);
  border-color: var(--ltn__secondary-color);
  color: var(--white); }

/* input-item */
.input-item {
  position: relative; }
  .input-item.ltn__custom-icon::before {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    color: var(--ltn__secondary-color); }

.input-item-name.ltn__custom-icon::before {
  content: "\f007"; }

.input-item-email.ltn__custom-icon::before {
  content: "\f0e0"; }

.input-item-phone.ltn__custom-icon::before {
  content: "\f095"; }

.input-item-subject.ltn__custom-icon::before {
  content: "\f06e"; }

.input-item-website.ltn__custom-icon::before {
  content: "\f0ac"; }

.input-item-date.ltn__custom-icon::before {
  content: "\f073"; }

.input-item-textarea.ltn__custom-icon::before {
  content: "\f303";
  top: 30px; }

.input-info-save {
  font-size: 14px; }

label.checkbox-inline {
  font-size: 14px; }


/* ----------------------------------------------------
    Widget Responsive
---------------------------------------------------- */
@media (max-width: 1199px) {
    .widget {
        padding: 35px 20px 40px 20px;
    }

    .top-rated-product-img {
        max-width: 70px;
        margin-right: 15px;
    }
}

@media (max-width: 991px) {
    .ltn__right-sidebar {
        margin-top: 100px;
    }
}

@media (max-width: 767px) {
    .car-price-filter-range .price_filter .ui-state-default:last-child::after {
        display: none;
    }
}

/* ----------------------------------------------------
    Menu Widget
---------------------------------------------------- */
.ltn__menu-widget>ul {
    padding: 0;
    margin: 0;
}

.ltn__menu-widget>ul li {
    list-style: none;
    margin-top: 15px;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.ltn__menu-widget>ul li a {
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.ltn__menu-widget>ul li a span {
    float: right;
    color: var(--ltn__color-5);
}

.ltn__menu-widget>ul li span {
    float: right;
    color: var(--ltn__color-5);
}

/* --------------------------------------------------------------
    Widgets
-------------------------------------------------------------- */
.widget {
    margin-bottom: 40px;
    padding: 35px 30px 40px 35px;
    border: 2px solid var(--border-color-11);
}

.widget:last-child {
    margin-bottom: 0;
}

.widget hr {
    margin-top: 35px;
    margin-bottom: 35px;
}

.ltn__widget-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.ltn__widget-title-border {
    position: relative;
    padding-left: 45px;
}

.ltn__widget-title-border::after,
.ltn__widget-title-border::before {
    position: absolute;
    content: "";
    background-color: var(--ltn__secondary-color);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.ltn__widget-title-border::before {
    width: 18px;
    height: 4px;
    border-radius: 25px;
}

.ltn__widget-title-border::after {
    width: 4px;
    height: 4px;
    left: 22px;
    border-radius: 100%;
}

.ltn__widget-title-border-2 {
    border-left: 2px solid;
    border-color: var(--ltn__secondary-color);
    padding-left: 10px;
    position: relative;
}

.ltn__widget-title-border-2::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 14px;
    background-color: var(--ltn__secondary-color);
    display: none;
}


/* ----------------------------------------------------
    Price Filter Widget
---------------------------------------------------- */
.price_filter {
    padding-bottom: 13px;
}

.price_slider_amount {
    overflow: hidden;
}

.price_slider_amount>input[type="text"],
.price_slider_amount>input[type="submit"] {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    height: 25px;
    padding: 0;
    text-align: left;
    width: 140px;
    margin-bottom: 20px;
}

.price_slider_amount>input[type="text"] {
    font-weight: 700;
}

.price_filter .ui-widget-content {
    background-color: var(--ltn__primary-color);
    border: medium none;
    color: #222;
    height: 3px;
    width: 98%;
    background-image: none;
}

.price_filter .ui-slider .ui-slider-range {
    background-color: var(--ltn__secondary-color);
    background-image: none;
}

.price_filter .ui-state-default,
.price_filter .ui-widget-content .ui-state-default,
.price_filter .ui-widget-header .ui-state-default {
    background-color: var(--ltn__secondary-color);
    border: medium none;
    border-radius: 100%;
    height: 12px;
    margin-left: 0;
    margin-top: -6px;
    top: 50%;
    width: 12px;
    background-image: none;
}

/* ----------------------------------------------------
      Search Widget
  ---------------------------------------------------- */
.ltn__search-widget form {
    position: relative;
}

.ltn__search-widget input[type="text"] {
    margin-bottom: 0;
    padding-right: 65px;
    padding-left: 20px;
    height: 60px;
    background-color: var(--section-bg-1);
    font-weight: 600;
    font-size: 14px;
}

.ltn__search-widget input[type="text"]::-webkit-input-placeholder {
    color: var(--ltn__primary-color);
    font-size: 12px;
}

.ltn__search-widget button {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 20px;
    color: var(--white);
    border: 1px solid;
    background-color: var(--ltn__secondary-color);
    border-color: var(--ltn__secondary-color);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.ltn__search-widget button:hover {
    color: var(--white);
    background-color: var(--ltn__primary-color);
    border-color: var(--ltn__primary-color);
}

/* ----------------------------------------------------
    Product Options
---------------------------------------------------- */
.nice-select .option {
    margin-top: 0;
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8;
}

.nice-select .list {
    min-width: 100%;
}

.ltn__shop-options {
    margin-bottom: 50px;
}

.ltn__shop-options>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 0;
    padding: 0;
}

.ltn__shop-options>ul>li {
    list-style: none;
    margin-top: 0;
    line-height: 50px;
    margin-right: 30px;
}

.ltn__shop-options>ul>li:last-child {
    margin-right: 0;
}

.ltn__shop-options .short-by .nice-select {
    border-radius: 0;
    border: 2px solid #ededed;
    height: 50px;
    line-height: 46px;
    min-width: 190px;
}

.ltn__shop-options .short-by .nice-select .option {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
}

.ltn__shop-options .short-by .nice-select .current {
    font-weight: 700;
}

.ltn__grid-list-tab-menu a {
    font-size: 30px;
    margin-right: 20px;
}

.ltn__grid-list-tab-menu a:last-child {
    margin-right: 0px;
}

.ltn__grid-list-tab-menu .active {
    color: var(--ltn__secondary-color);
}

.showing-product-number span {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--ltn__heading-font);
}

.ltn__product-list-view .product-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.ltn__product-list-view .ltn__product-item:after {
    display: block;
    clear: both;
    content: "";
}

.ltn__product-list-view .ltn__product-item .product-img {
    max-width: 40%;
    float: left;
}

.ltn__product-list-view .ltn__product-item .product-info {
    overflow: hidden;
    padding: 0 0 0 30px;
}

.ltn__product-list-view .ltn__product-item-3 .product-info {
    overflow: hidden;
    padding: 25px 25px 20px 30px;
}

.ltn__product-list-view .product-hover-action {
    position: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    text-align: left;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
}

/* Bootstrap Tab with Slider Issue Fix Start */
.tab-content {
    width: 100%;
}

.tab-content .tab-pane {
    display: block;
    height: 0;
    max-width: 100%;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

.tab-content .tab-pane.active {
    height: auto;
    visibility: visible;
    opacity: 1;
    overflow: visible;
}

/* Bootstrap Tab with Slider Issue Fix End */
@media (max-width: 1400px) {
    .shop-details-info .product-price {
        font-size: 36px;
    }

    .shop-details-info .cart-plus-minus {
        width: 130px;
    }

    .shop-details-info .ltn__product-details-menu-2 .btn {
        padding: 17px 15px;
    }
}

@media (max-width: 991px) {
    .ltn__product-item-3 .product-info {
        padding: 25px 15px 15px;
    }

    .ltn__product-item-3 .product-price {
        font-size: 16px;
    }

    .ltn__product-item-3 .product-price del {
        font-size: 14px;
    }

    .ltn__shop-details-img-gallery {
        margin-bottom: 75px;
    }

    .ltn__product-item-4 .product-title {
        font-size: 20px;
    }

    .ltn__product-item-4 .product-info {
        padding: 30px 20px 1px;
    }

    .ltn__product-item-4 .product-img-location-gallery {
        padding: 0 15px 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
        flex-flow: wrap-reverse;
    }

    .ltn__product-item-4 .product-img-location-gallery ul li {
        font-size: 13px;
        margin-top: 5px;
    }

    .ltn__product-item-4 .product-img-location-gallery .product-img-gallery {
        margin-left: 0;
    }

    .ltn__product-item-4 .product-img-location-gallery .product-img-gallery ul li {
        width: inherit;
        background-color: transparent;
        margin-top: 0;
    }

    .ltn__product-item-4 .product-description p br {
        display: none;
    }

    .ltn__product-item-4 .product-info-bottom {
        padding: 20px 20px 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
        flex-flow: wrap-reverse;
    }

    .ltn__product-item-4 .real-estate-agent {
        margin-top: 20px;
    }

    .slick-slide .ltn__product-item-4 {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .ltn__shop-options>ul {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .ltn__shop-options ul li {
        margin: 5px 0;
    }

    .showing-product-number span {
        font-size: 16px;
    }

    .ltn__product-list-view .ltn__product-item .product-img {
        max-width: 100%;
    }

    .ltn__product-list-view .ltn__product-item .product-info {
        padding: 25px 0 0 1px;
    }

    .ltn__product-list-view .ltn__product-item-3 .product-info {
        padding: 25px 25px 20px 30px;
    }

    .modal-product-info h3 {
        font-size: 22px;
    }

    .modal-product-info .product-price {
        font-size: 34px;
    }

    .ltn__shop-details-tab-menu .nav a {
        padding: 15px 15px;
        font-size: 14px;
    }

    .ltn__shop-details-tab-content-inner {
        padding: 50px 20px 30px;
    }

    .ltn__product-item-4 .product-title {
        font-size: 18px;
    }

    .ltn__product-list-view .ltn__product-item-5 .product-info-bottom {
        padding: 0px 0px 0px 0px;
        border: 0;
    }
}

@media (max-width: 576px) {
    .product-hover-action li {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 13px;
    }

    .product-badge li {
        font-size: 12px;
        padding: 1px 10px;
        line-height: 20px;
    }

    .product-badge li::before {
        bottom: -6px;
    }

    .ltn__product-item-3 .product-title {
        font-size: 14px;
    }

    .ltn__product-item-3 .product-info {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ltn__product-item-3 .product-price {
        font-size: 14px;
    }

    .ltn__product-item-3 .product-price del {
        font-size: 13px;
    }

    .ltn__product-item-3 .product-info-brief ul li {
        font-size: 12px;
    }

    .ltn__product-item-2 .product-title {
        font-size: 14px;
    }
}

/* ----------------------------------- */

.div-imagen{
    height: 30vh;
    background-image: url(assets/farmacia.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ----------------------------------------------------
    Breadcurmb Area
---------------------------------------------------- */
.ltn__breadcrumb-area {
    background-color: var(--section-bg-1);
    margin-bottom: 120px;
    padding-top: 110px;
    padding-bottom: 110px; }
  
  .ltn__breadcrumb-list ul {
    margin: 0;
    padding: 0; }
  
  .ltn__breadcrumb-list ul li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    font-weight: 700; }
  
  .ltn__breadcrumb-list ul li:last-child {
    margin-right: 0;
    color: var(--ltn__primary-color); }
  
  .ltn__breadcrumb-list ul li:after {
    position: absolute;
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 10px;
    right: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  .ltn__breadcrumb-list ul li:last-child:after {
    display: none; 
}

/* ---------------------------------------
    ## Button
--------------------------------------- */
.btn-wrapper {
    display: block;
    margin-top: 30px;
}

.btn {
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--ltn__heading-font);
    padding: 17px 35px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1;
    margin-right: 15px;
}

.btn:last-child {
    margin-right: 0;
}

.theme-btn-1 {
    background-color: var(--ltn__secondary-color);
    color: var(--white);
}

.theme-btn-1:hover {
    background-color: var(--ltn__primary-color);
    color: var(--white);
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-effect-1:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--white);
}

.btn-effect-1:hover {
    color: var(--ltn__heading-color);
}

.btn-effect-1:hover::after {
    width: 100%;
}

.btn-border {
    border: 2px solid var(--border-color-10);
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn {
        padding: 12px 25px;
    }

    [type="submit"].btn {
        padding: 15px 30px;
    }
}

@media only screen and (max-width: 767px) {
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    [type="submit"].btn {
        padding: 12px 30px;
    }
}

/* ----------------------------------------------------
    Shoping Cart
---------------------------------------------------- */
.table tr:nth-child(odd) {
    background-color: #f7f8fa;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}

.shoping-cart-table tbody {
    border-bottom: 1px solid #dee2e6;
}

.shoping-cart-table thead th {
    vertical-align: middle;
    border-bottom: 0;
    background-color: #f7f8fa;
}

.shoping-cart-table .table tr {
    background-color: transparent;
    display: table;
    width: 100%;
}

.shoping-cart-table td {
    padding: 20px 25px;
    vertical-align: middle;
}

.cart-product-image img {
    max-width: 100px;
}

.cart-product-remove {
    cursor: pointer;
}

.cart-product-remove:hover {
    color: var(--ltn__secondary-color);
}

.cart-product-subtotal {
    font-weight: 700;
}

.cart-coupon-row {
    background-color: #f7f8fa;
    text-align: right;
}

.cart-coupon {
    text-align: left;
}

.cart-coupon input {
    max-width: 250px;
    margin-bottom: 0;
}

.submit-button-1 {
    padding: 10px 30px;
    background-color: var(--ltn__primary-color);
    color: var(--white);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.submit-button-1:hover {
    background-color: var(--ltn__secondary-color);
    color: var(--white);
}

.btn.disabled {
    cursor: not-allowed;
}

.shoping-cart-total {
    float: right;
    max-width: 450px;
    width: 100%;
}

.shoping-cart-total .table {
    margin-bottom: 0;
}

.shoping-cart-total .btn-wrapper {
    margin-top: 0;
}

.shoping-cart-total .btn-wrapper .theme-btn-1 {
    display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
    .shoping-cart-table td {
        padding: 20px 10px;
    }

    .cart-product-image img {
        max-width: 80px;
    }

    .cart-product-info h4 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .shoping-cart-table thead th {
        display: none;
    }

    .shoping-cart-table .table tr {
        display: block;
        text-align: center;
    }

    .shoping-cart-table td {
        display: block;
        padding: 20px 15px;
    }

    .cart-product-image {
        max-width: 100%;
    }

    .shoping-cart-table .cart-plus-minus {
        margin-left: auto;
        margin-right: auto;
    }

    .cart-coupon input {
        margin-bottom: 20px;
    }

    .shoping-cart-table .table tr:nth-child(even) {
        background-color: var(--section-bg-1);
    }
}

/* ----------------------------------------------------
    Checkout Page
---------------------------------------------------- */
.ltn__checkout-single-content {
    margin-bottom: 30px; }
    .ltn__checkout-single-content h5 {
      background-color: var(--section-bg-1);
      padding: 20px 30px; }
  
  .ltn__checkout-single-content-info {
    padding: 30px;
    border: 1px solid var(--border-color-1); }
  
  .ltn__checkout-payment-method .card {
    padding: 20px;
    border-radius: 0; }
  
  .ltn__checkout-payment-method .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  
  .ltn__checkout-payment-method .card-body {
    padding: 15px 30px;
    -webkit-box-shadow: var(--ltn__box-shadow-3);
    box-shadow: var(--ltn__box-shadow-3);
    margin-top: 15px;
    position: relative; }
    .ltn__checkout-payment-method .card-body::before {
      position: absolute;
      top: -3px;
      left: 25px;
      width: 10px;
      height: 10px;
      content: "";
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #fff; }
  
  .ltn__checkout-payment-method .ltn__card-title {
    position: relative;
    padding-left: 30px;
    margin-bottom: 0; }
    .ltn__checkout-payment-method .ltn__card-title::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 16px;
      margin-top: 2px;
      content: "";
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid #333;
      border-radius: 50%; }
    .ltn__checkout-payment-method .ltn__card-title::after {
      position: absolute;
      top: 50%;
      left: 2px;
      width: 11px;
      height: 11px;
      margin-top: 2px;
      content: "";
      -webkit-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      border-radius: 50%;
      background-color: #333; }
    .ltn__checkout-payment-method .ltn__card-title img {
      height: 45px;
      margin-left: 10px; }
  
  .ltn__checkout-payment-method .ltn__card-title[aria-expanded="true"]::after {
    opacity: 1; }
  
  .ltn__checkout-payment-method p {
    font-size: 14px; }
    .ltn__checkout-payment-method p:last-child {
      margin-bottom: 0; }
  

/* ----------------------------------- */

.div-imagen {
    height: 30vh;
    background-image: url(assets/farmacia.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
