header .fondo-header {
    width: 100%;
    height: 70vh;
}

.laboratorio div {
    margin: 5vh;
}

.laboratorio div p {
    text-align: justify;
}

.laboratorio div ul {
    /* text-indent: 20px; */
    padding-left: 80px;
    text-align: left;
}

 /* //CARD ANÃLISIS */
.card-analisis {
    margin: 0px;
    background: linear-gradient(rgba(56, 192, 241, 0.461) 10%, rgba(28, 154, 200, 0.658) 50%, rgba(0, 130, 200, 0.816) 100%);
    font-family: "Montserrat", Arial;
    border-radius: 1.5em;
    padding: 10px 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
        0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1), 
        0 32px 32px rgba(0, 0, 0, 0.15),
        0 64px 64px rgba(0, 0, 0, 0.15);
}

.card-analisis h2 {
    padding: 20px;
    width: -webkit-fill-available;
    display: flex;
}

/* Scroller styling */
.scroller {
    margin: 0px !important;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.scroller > span {
    position: absolute;
    padding: 0px 10px;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
}
@keyframes slide {
    0% {
        top: 0;
    }
    20% {
        top: -1.2em;
    }
    40% {
        top: -2.4em;
    }
    60% {
        top: -3.6em;
    }
    80% {
        top: -4.8em;
    }
}
.img-der {
    border: rgb(37, 85, 244) solid 3px ;
    border-radius: 30px 5px 15px 5px;
}
.img-izq {
    border: rgb(37, 85, 244) solid 3px ;
    border-radius: 5px 30px 5px 15px;
}


.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
  
  
  nav {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    background: rgba(192, 190, 190, 0.343);
    overflow: hidden;
    color: rgba(0, 0, 0, 0.918);
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
  }
  
  nav.black ul {
    background: rgba(234, 230, 230, 0.746);
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 20px;
  }