:root {
    --color: #4AD395;
    --color-dark: #23004d;
    --color-light: #a49eac;
    --color-lighten: #f2f2f2;
    --color-hover: #65bf97;
    --big-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--normal-font-size);
    color: var(--color-dark);
    max-width: 100vw;
    max-height: 100vh;
}

.body {
    background: url("../assets/loginbackground.png");
    background-position: center;
    background-size: cover;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}


/* LOADER */

.st-perloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    left: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-perloader .st-perloader-in {
    position: relative;
}

.st-perloader .st-perloader-in svg {
    width: 110px;
    height: 110px;
}

.st-perloader .st-wave-first svg {
    fill: #eaeaea;
}

.st-perloader .st-wave-second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    animation: spark 1.25s linear infinite;
}

.st-perloader .st-wave-second svg {
    fill: #0cb8b6;
}

.st-perloader.st-color1 .st-wave-second svg {
    fill: #27b1d9;
}

.st-perloader.st-color2 .st-wave-second svg {
    fill: #ff375f;
}

@keyframes spark {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 100%;
    }
}

/* NAV */

.logo {
    float: left;
    margin: 16px 36px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
}


nav {
    width: 100vw;
    height: 80px;
    box-shadow: 0 8px 20px rgba(43, 43, 43, 0.2);
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: rgba(0, 0, 0, 0.5);
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/*MENU ICON*/
.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: none;
}

/*RESPONSIVE NAV*/
@media(max-width: 580px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}


/* LOGIN */

.login {
    height: calc(100vh - 80px - 238px);
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.login__content {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.login__forms {
    position: relative;
    height: 368px;
    width: 348px;
    justify-self: center;
}

.login__register,
.login__create {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: var(--color-lighten);
    padding: 2rem 1rem;
    left: -8rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animateLogin;
}

.login__register {
    bottom: -2rem;
}

.login__create {
    bottom: -5.5rem;
}

.login__title {
    font-size: var(--big-font-size);
    margin-bottom: 2rem;
}

.login__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__icon {
    font-size: 1.5rem;
    color: var(--color);
}

.login__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--color-dark);
    width: 100%;
}

.login__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--color-light);
}

.login__button {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--color);
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover {
    background-color: var(--color-hover);
}

.login__account,
.login__signin,
.login__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login__account--account {
    color: var(--color-dark);
}

.login__signin--signin,
.login__signup--signup {
    color: var(--color);
    cursor: pointer;
}

.block {
    display: block;
}

.none {
    display: none;
}

@keyframes animateLogin {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }

}


@media screen and (max-width:1300px) {

    .login__forms {
        position: relative;
        width: 300px;
        justify-self: center;
    }

    .login {
        height: calc(100vh - 80px - 293px);
    }

    .login__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }

    .login__register,
    .login__create {
        left: -10rem;
    }

    .login__register {
        bottom: -2rem;
    }

    .login__create {
        bottom: -5.5rem;
    }

}

@media screen and (max-width:900px) {

    .login {
        height: calc(100vh - 80px - 293px);
    }


    .login__content {
        display: grid;
        grid-template-columns: 100%;
        height: 100vh;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        align-content: center;
    }

    .login__forms {
        width: 300px;
        top: -4rem;
    }


    .login__register,
    .login__create {
        position: unset;
    }

}

@media screen and (max-width:300px) {

    .login {
        height: calc(100vh - 80px - 293px);
    }

    .login__forms {
        width: 250px;
        top: -4rem;
    }

    .login__register,
    .login__create {
        padding: 1rem 0.5rem;
    }

}


.contenido {
    position: relative;
}

.particulas-top {
    position: absolute;
    left: 0;
    top: 0;
}

.particulas-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

img {
    border: 0;
}

footer {
    box-shadow: 0 8px 20px rgba(43, 43, 43, 0.2);
    position: absolute;
    width: 100vw;
    bottom: 0;
}